@font-face {
    font-family: 'GL';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GM';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GB';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf') format("truetype");
    font-display: swap;
} 
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

:root{
    --colorGreen: #cedfc3;
    --colorDGreen: #647367;
    --colorBg: #f8f8e7;
    --colorGBg: #d6e3ca;
    --colorBth: #ce5561;
}
body{
    font-family: 'GM';
    color:#474747;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}

.d-flex{ display: flex !important;}
.flex-wrap{ flex-wrap:wrap !important; }
.jcb{ justify-content: space-between !important;}
.jcc{ justify-content: center !important;}
.aic{ align-items: center !important;}
.w-100{ width:100% !important}
.w50{ width:50% !important}

.text-right{ text-align: right !important;}
.text-center{ text-align: center !important;}

.text-white{ color:white !important}
.bg-red{ background-color: var(--colorBth) !important;}
.bg-white{ background-color: white !important;}
.rounded{ border-radius: 10px;}
.text-green{
    color:var(--colorGreen) !important;
}
.text-gray{
    color:var(--colorBg) !important;
}
.border-0{
    border: 0 !important;
}

#mainBanner{
    background: url(../img/bg.jpg) no-repeat ;
    background-size: cover;
    height:55vw; /*반응형처리완료 화면너비를 100vw로 계산하여*/
}
#mainBanner img{
    max-height: 475px;
    height:50%
}
#mainBanner .container{
    display: flex;
    height:100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#introduce{
    background-color: var(--colorBg);

}
#introduce .container{

}
.description{
    display: inline-flex;
    margin-top:-5rem;
    width:100%;
    margin-bottom: 6rem;
}

.description li{
    background-color: var(--colorGreen);
    flex-grow: 1;    /*나머지 영역만큼 맞춰줄께*/
    margin: 0 1rem;
    padding: 1rem;
    background-repeat: no-repeat;
    background-size: auto 50%;
    border: 1.5rem solid var(--colorGreen);
    box-shadow: 8px 8px 16px rgba(0,0,0,0.4);
}
.description li p{
    color:var(--colorDGreen);
    margin-top: 8rem;
    font-family: 'GM';
    font-size: 1.8em;
    line-height: 1.2;

}
.description .face{
    background-image: url(../img/face.png);
    background-position: top right;
   
}
.description .box2{
    background-image: url(../img/box2.png);
    background-position: top right;
}
.description .box3{
    background-image: url(../img/box3.png);
    background-position: top right;
}
.description li:before{
    background-color: #efffe4;
    display: block;
    width:1.5em;
    height:1.5em;
    border-radius: 50%;
    letter-spacing: -0.085em;
    text-indent: -1rem;
    color:var(--colorDGreen);
    font-family: 'Abril Fatface', cursive;
    font-weight: bold;
    font-style: italic;
    font-size: 2.5em;
}
.description .face:before{
    content:"01";
}
.description .box2:before{
    content:"02";
}
.description .box3:before{
    content:"03";
}

#md{
    padding-bottom: 7rem;
}
/* 문단태그 p,h1-h6 >>블럭태그 하위객체 안됨  >>자식태그는 인라인태그(strong, span) */
/* 인라인태그의 특징 : 너비는 컨텐츠만큼 */
/* position이 지정된 객체가 더 위로 간다... 비포가 먼저니까 뒤이지만 그래도 포지션이 안잡히면 앞에 있다  그러므로 포지션지정필요 */
#md h2, 
#thumb h2{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
    color: var(--colorDGreen);
    position: relative;    
}
#md h2 strong,
#thumb h2 strong {
    position: relative;
}
#md h2 strong > span,
#thumb h2 strong > span{
    position: relative;
}
#md h2 strong:before,
#thumb h2 strong:before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;
    height: 40%;
    background-color: #e9e9b4;
}
#md .explain li{
    border: 1px solid var(--colorDGreen);
    padding:0 1rem;
    line-height: 2;
    border-radius: 2rem;
    margin: 0 0.5rem 0 0;

}
#md .explain p{
  margin: 3rem 0;
  font-size: 2em;

}
#md .explain a{
    display: inline-block;
    color:white;
    background-color: var(--colorBth);
    font-size: 1rem;
    line-height: 2.5;
    padding: 0 2rem;
    border-radius: 3rem;
    text-decoration: none;


}
#md .girls{
    max-width: 512px;
    width:40%;
    margin: 0 5%;
}
#thumb{
    background-color: var(--colorGreen);
    padding: 5rem 0;
}
#thumb li{
    width:calc(50% - 1rem);
    margin:0.5rem auto;
    background-size: cover;
    padding:3rem;
    box-sizing: border-box;
    
}
.thumb1{
    background-image: url(../img/thumb1.png);

}
.thumb2{
    background-image: url(../img/thumb2.png);


}
.thumb3{
    background-image: url(../img/thumb3.png);


}
.thumb4{
    background-image: url(../img/thumb4.png);


}
#thumb li h3{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;

}
#thumb li p{
    font-size: 1.2rem;
    margin-bottom: 1rem;

}
#thumb li a{
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 2rem;
    border: 3px solid var(--colorBth);
    line-height: 2.5;
    padding:0 1.2rem;
    display: inline-block;
    color:var(--colorBth)
}
#sec4{
    position: relative;
    padding: 3rem;

}
#sec4 .container{
    position: relative;
    z-index: 100;
}
#sec4:before, #sec4:after{
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top:0;

}
#sec4::before{
    right:0;
    background: url(../img/map.png) no-repeat right center #324038; /* 백그라운드 칼라를 추가해주면 화면을 크게해도괜츈*/
    background-size: auto 150%;

}
#sec4:after{
    left:0;
    background: url(../img/form.png) no-repeat center;
    background-size: 100%;

}
#sec4 .text-green{
    font-size: 1.8em;
    margin-bottom: 1rem;
}
#way{
    padding-left: 5rem;
}
#way dt{

}
#way dd{
    

}
#way dd:not(:last-child){
    margin-bottom: 1rem;

}
#form{
    display: flex;
    justify-content: end;
}
#form > div{
   /* max-width: 400px; */
    
}
#form li{
    line-height: 2.5;
    padding: 0.25em 0;
}
#form li strong + *{
    min-width: 250px;
    margin-left: 1rem;
}
#form button{
    min-width: 250px;
    line-height: 2.5;
    float: right;
    margin-top: 0.25em;
}
.ofh{
    overflow: hidden;
}
.agree{
    margin-top: 1rem;
}
.agree input{
    display: none;
}
.agree label{
    display: flex;
    align-items: center;
    justify-content: end;
}
/* 가상선택자 최적사용 */
.agree label:before{
    content: "v";
    color: transparent;
    display: block;
    width: 1rem; height: 1rem;
    border: 1px solid white;
    margin-right: 0.5rem;
    text-align: center;
    position: relative;
    top:-2px;
}
.agree input:checked + label:before{
    content: "v";
    color: white;

}